@use 'colors/color-matrix' as color;

:host {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  &.button {
    &--white {
      .button {
        fill: color.$icon-button-bg--secondary;

        &:hover,
        &:focus-visible {
          fill: color.$icon-button-bg--secondary-hover;
        }

        &:active {
          fill: color.$icon-button-bg--secondary-active;
        }
      }
    }
  }
}

.button {
  display: flex;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    fill: color.$icon-button-bg--primary;
    
    use {
      fill: color.$icon-button-bg--primary;
    }
  }

  &:hover,
  &:focus-visible {
    .button__icon {
      fill: color.$icon-button-bg--primary-hover;
      
      use {
        fill: color.$icon-button-bg--primary-hover;
      }
    }
  }

  &:focus-visible {
    outline: 1px solid color.$icon-button-outline;
    border-radius: 2px;
  }

  &:active {
    .button__icon {
      fill: color.$icon-button-bg--primary-active;
      
      use {
        fill: color.$icon-button-bg--primary-active;
      }
    }
  }

  &:disabled {
    .button__icon {
      fill: color.$icon-button-bg--disabled;
      
      use {
        fill: color.$icon-button-bg--disabled;
      }
    }
    cursor: not-allowed;
  }
}
