@use "@assets/styles/_extends";
@use "@assets/styles/_colors";

.participant-card-info-container {
  display: flex;
  align-items: center;
  column-gap: 28px;

  /* keep a single vertical separator between the link and actions groups */
  & > :not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -14px;
      width: 1px;
      height: 40px;
      transform: translateY(-50%);
      background-color: colors.$g-200;
    }
  }

  .participant-card__link {
    display: flex;
    align-items: center;
  }

  .participant-card__actions {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
}

.participant-card-role {
  @extend %label;
  color: colors.$g-800;
}
